[submodule "Submodules/External/imgui"]
	path = Submodules/External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Submodules/External/glfw"]
	path = Submodules/External/glfw
	url = https://github.com/glfw/glfw
